

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
}

footer {
    height: auto;
    background-color: white;
    display: block;
}

.flex-container  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: auto;
    height: 100vh;
    
}


.credits  {
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    font-family: sans-serif;
    margin-top: 25px;
    padding: 10px;
    color: black;

}

.masthead {
    background-position: center;
    background-size: cover;
    
    
}


.start-game-area {
    width: 60%;
    height: auto;
    max-width: 500px;
    background-color: #bde3ff;
    color: black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    display: block;
    align-items: center;
    text-align: center;

}

.game-header {
    width: auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.difficulty-game-area {
    width: 60%;
    height: auto;
    max-width: 500px;
    background-color: #bde3ff;
    color: black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    display: block;
    align-items: center;
    text-align: center;
}

.question-game-area {
    width: 60%;
    height: auto;
    max-width: 500px;
    background-color: #bde3ff;
    color: black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    display: block;
    align-items: center;
    text-align: center;
}

.results-game-area {
    width: 60%;
    height: auto;
    max-width: 500px;
    background-color: #176087;
    color: black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    display: block;
    align-items: center;
    text-align: center;
}

.current-question  {
    font-size: .8rem;
    font-family: sans-serif;

}

.home-icon {
    width: 38px;
    cursor: pointer;
}

.help-icon  {
    width: 38px;
    cursor: pointer;
}

.cross  {
    cursor: pointer;
    position: absolute;
    color: black;
    right: 22%;
}


.hide  {
    display: none;
}

.greyscale  {
    filter: grayscale(100%);
}

.hover:hover {
    cursor: pointer;
    background-color: #176087;
    color: white;
    border: solid 2pt white;
    box-shadow: none;
}

.answer-buttons-hover:hover {
    cursor: pointer;
    background-color: #176087;
    color: white;
    border: solid 2pt white;
    box-shadow: none;
}

.correct  {
    background-color: rgb(12, 114, 12);
}

.wrong  {
    background-color: rgb(143,22,22);
}

.play-again-btn-hover:hover {
    cursor: pointer;
    background-color: #bde3ff;
    color: black;
    border: solid 2pt white;
    box-shadow: none;
}

.next-question button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.modal-container {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show  {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    max-width: 500px;
    height: auto;
    background-color: #bde3ff;
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    padding: 0 10px;
    
}

.modal-header  {
    margin-top: 20px;
    width: auto;
    height: 25px;
    align-items: center;
}

h3,
h4,
h5,
p  {
    font-family: 'Poppins', sans-serif;
   
}

h1 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 4rem;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(240,248,255);
    padding: 25px 0 25px 0;
}

h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(240,248,255);
    padding: 20px 0 20px 0;
}


h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: black;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    padding: 25px 25px;
}

h5 {
    font-size: .9rem;
    line-height: 1.5rem;
    color: rgb(88, 88, 88);
    padding: 0 35px 35px 35px;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgb(88, 88, 88);
    padding: 0 35px 35px 35px;
}

.results-header {
    color: white;
    text-shadow: none;
    font-size: 2rem;
}

.results-body-text  {
    color: white;

}

.results-status  {
    height: 80px;
    padding: 20px 0;
    top: 50%;
    font-size: xx-large;
}

button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(188,188,188);
    color: rgb(88, 88, 88);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 35px;
    margin: 10px 25px;
}

    button:active {
        background-color: lightgrey;
        box-shadow: 0 2px 4px rgb(188,188,188);
        color: rgb(88, 88, 88);
        outline: none;
    }

hr  {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

