body  {
    display: flex;
    background-color: aliceblue;
    height: 100%;
}

panel  {
    border: solid;
}

h1  {
    text-justify: center;
    font-family: sans-serif;
    font-weight: bold;

    }
footer {
    background-color: white;
    height: 40%;
}


.btn-light {
    background-color: white;
    outline: none;
    border: none;
    box-shadow: none;
}

.btn-light:hover {
    background-color: lightgrey;
    outline: none;
    border: none;
    box-shadow: none;
}


 #header {
    display: block;
    background-color: white;
    height: 15%;
}



   