/* GOOGLE FONTS IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
}

footer {
    height: auto;
    background-color: white;
}

.container  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


.credits  {
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    font-family: sans-serif;
    margin-top: 25px;
    padding: 10px;
    color: black;

}

.masthead {
    background: url('assets/7618808.jpg') no-repeat center fixed;
    background-size: cover;
    
}


h1 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 4rem;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(240,248,255);
    padding: 25px 0 40px 0;
}

h2 {
    font-family: 'Ysabeau Office', sans-serif;
    font-size: 2rem;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(240,248,255);
    padding: 0 0 20px 0;
}

h3  {
    font-family: sans-serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 25px 50px;
}



.game-container {
    width: 70%;
    height: auto;
    max-width: 680px;
    min-height: 440px;
    background-color: #bde3ff;
    color: black;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 8px 4px rgb(225,225,225);
    display: flex;
    align-items: center;
    text-align: center;

}


.quiz-container  {
    max-width: 680px;
    min-height: 440px;
    background-color: #bde3ff;
    color: black;
    margin-top: 40px;
    
}

.play  {
    align-self: flex-end;

}

button {
    background-color: white;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(225,225,225);
    color: rgb(88, 88, 88);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 35px;
    margin: 10px 25px;
}


.slide  {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}
 


<a href="https://www.freepik.com/free-vector/business-startup-with-businessman-flying-rocket_22535555.htm#page=2&query=doodling&position=2&from_view=search&track=sph#position=2&page=2&query=doodling" > Image by upklyak</a > on Freepik

Image by <a href="https://www.freepik.com/free-vector/hand-drawn-world-tourism-day-background_29889527.htm#query=doodling%20travel&position=21&from_view=search&track=ais" > Freepik</a >